In [71]:
# Importing the libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#import and read the dataset
dataset = pd.read_csv('../Resources/charity_data.csv')
dataset.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [72]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
dataset = dataset.drop(columns=['EIN'])
dataset.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [73]:
# Determine the number of unique values in each column.
dataset.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [74]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = dataset.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [75]:
# Choose a cutoff point and create a new column for APPLICATION_TYPE
app_cutoff = 500

application_types_to_replace = []

for item in application_counts.index:
    if application_counts[item]<app_cutoff:
        application_types_to_replace.append(item)

application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [76]:
# Replace in DataFrame
for app in application_types_to_replace:
    dataset.APPLICATION_TYPE = dataset.APPLICATION_TYPE.replace(app,"Other")

# Check to make sure binning was successful
dataset.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [77]:
# Look at CLASSIFICATION value counts for binning
classification_counts = dataset.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [78]:
# Choose a cutoff point and create a new column for CLASSIFICATION
class_cutoff = 1000

classifications_to_replace = []

for item in classification_counts.index:
    if classification_counts[item]<class_cutoff:
        classifications_to_replace.append(item)

classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [79]:
# Replace in DataFrame
for cls in classifications_to_replace:
    dataset.CLASSIFICATION = dataset.CLASSIFICATION.replace(cls,"Other")

# Check to make sure binning was successful
dataset.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [80]:
# Convert categorical data to numeric with `pd.get_dummies`

# what are the date types of the columns
typelist = dataset.dtypes
typelist

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [81]:
# Generate our categorical variable lists
application_df = pd.get_dummies(dataset.APPLICATION_TYPE)
application_df.head()

   Other  T10  T19  T3  T4  T5  T6  T7  T8
0      0    1    0   0   0   0   0   0   0
1      0    0    0   1   0   0   0   0   0
2      0    0    0   0   0   1   0   0   0
3      0    0    0   1   0   0   0   0   0
4      0    0    0   1   0   0   0   0   0

In [82]:
# Split our preprocessed data into our features and target arrays
y = dataset.IS_SUCCESSFUL.values
X = dataset.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [83]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: 'SONS OF CONFEDERATE VETERANS INC'

In [ ]:
input_dimensions = X.shape[1]
input_dimensions

##Compile, Train, and Evaluate the Model

In [ ]:
# Create a method that creates a new Sequential model with hyperparameters options

def create_model(input_dim, hidden_nodes, activation, optimizer):
    # Create model and add layers
    nn = tf.keras.models.Sequential()

    # First hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes, input_dim=input_dim, activation=activation))

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes, activation=activation))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the Sequential model together and customize metrics
    nn.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])
    return nn

In [ ]:
tuner = kt.Hyperband(
    create_model,
    objective='val_accuracy',
    max_epochs=10,
    factor=3,
    directory='project',
    project_name='AlphabetSoupCharity_Optimization')

In [ ]:
# Run the kerastuner search
tuner.search(X_train_scaled, y_train, epochs=10, validation_split=0.2)

In [ ]:
# Evaluate the model
model = tuner.get_best_models(num_models=1)[0]
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")