## Preprocessing

In [29]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns=['EIN', 'NAME'])

application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [31]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [32]:
# For columns with more than 10 unique values, determine the number of data points for each unique value.
app = application_df['APPLICATION_TYPE'].value_counts()
app

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Choose cutoff for binning
cut_off = 800
# use the variable name `application_replace` in the code below
application_replace = []
for item in app.index:
    if app[item]<cut_off:
        application_replace.append(item)

application_replace

['T8',
 'T7',
 'T10',
 'T9',
 'T13',
 'T12',
 'T2',
 'T25',
 'T14',
 'T29',
 'T15',
 'T17']

In [34]:
#create new column with binning
for i in application_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(i, 'Other')
# check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [35]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [36]:
# Choose a cutoff point and create a new column for CLASSIFICATION that shows
#  whether or not an organization is considered to be "other" based on its classification
#  YOUR CODE GOES HERE
classification_replace = list(application_df['CLASSIFICATION'].value_counts().loc[lambda x : x < 1000].index)
#Replace in dataframe
for i in classification_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(i, 'Other')
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

## Compile, Train and Evaluate the Model

In [38]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3280

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,741
Trainable params: 5,741
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

2023-02-14 16:28:35.126970: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

804/804 [==============================] - 1s 423us/step - loss: 0.5739 - accuracy: 0.7209
Epoch 2/100
804/804 [==============================] - 0s 398us/step - loss: 0.5581 - accuracy: 0.7301
Epoch 3/100
804/804 [==============================] - 0s 415us/step - loss: 0.5560 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 0s 400us/step - loss: 0.5548 - accuracy: 0.7325
Epoch 5/100
804/804 [==============================] - 0s 407us/step - loss: 0.5527 - accuracy: 0.7319
Epoch 6/100
804/804 [==============================] - 0s 403us/step - loss: 0.5523 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 0s 461us/step - loss: 0.5513 - accuracy: 0.7326
Epoch 8/100
804/804 [==============================] - 0s 399us/step - loss: 0.5509 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 0s 404us/step - loss: 0.5503 - accuracy: 0.7336
Epoch 10/100
804/804 [==============================] - 0s 404us/step - loss: 0.5503 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 0s 414us/step - loss: 0.5494 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 0s 411us/step - loss: 0.5489 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 0s 404us/step - loss: 0.5486 - accuracy: 0.7340
Epoch 14/100
804/804 [==============================] - 0s 397us/step - loss: 0.5488 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 0s 398us/step - loss: 0.5481 - accuracy: 0.7352
Epoch 16/100
804/804 [==============================] - 0s 403us/step - loss: 0.5474 - accuracy: 0.7362
Epoch 17/100
804/804 [==============================] - 0s 405us/step - loss: 0.5471 - accuracy: 0.7364
Epoch 18/100
804/804 [==============================] - 0s 399us/step - loss: 0.5470 - accuracy: 0.7349
Epoch 19/100
804/804 [==============================] - 0s 393us/step - loss: 0.5471 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 0s 423us/step - loss: 0.5466 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 0s 395us/step - loss: 0.5461 - accuracy: 0.7355
Epoch 22/100
804/804 [==============================] - 0s 397us/step - loss: 0.5465 - accuracy: 0.7371
Epoch 23/100
804/804 [==============================] - 0s 395us/step - loss: 0.5461 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 0s 399us/step - loss: 0.5463 - accuracy: 0.7365
Epoch 25/100
804/804 [==============================] - 0s 398us/step - loss: 0.5458 - accuracy: 0.7373
Epoch 26/100
804/804 [==============================] - 0s 395us/step - loss: 0.5453 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 0s 396us/step - loss: 0.5457 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 0s 400us/step - loss: 0.5456 - accuracy: 0.7364
Epoch 29/100
804/804 [==============================] - 0s 403us/step - loss: 0.5451 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 0s 397us/step - loss: 0.5447 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 0s 395us/step - loss: 0.5451 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 0s 398us/step - loss: 0.5450 - accuracy: 0.7373
Epoch 33/100
804/804 [==============================] - 0s 401us/step - loss: 0.5445 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 0s 400us/step - loss: 0.5443 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 0s 400us/step - loss: 0.5444 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 0s 417us/step - loss: 0.5441 - accuracy: 0.7371
Epoch 37/100
804/804 [==============================] - 0s 402us/step - loss: 0.5440 - accuracy: 0.7372
Epoch 38/100
804/804 [==============================] - 0s 402us/step - loss: 0.5443 - accuracy: 0.7377
Epoch 39/100
804/804 [==============================] - 0s 404us/step - loss: 0.5435 - accuracy: 0.7382
Epoch 40/100
804/804 [==============================] - 0s 398us/step - loss: 0.5434 - accuracy: 0.7376
Epoch 41/100
804/804 [==============================] - 0s 403us/step - loss: 0.5441 - accuracy: 0.7384
Epoch 42/100
804/804 [==============================] - 0s 399us/step - loss: 0.5431 - accuracy: 0.7387
Epoch 43/100
804/804 [==============================] - 0s 402us/step - loss: 0.5434 - accuracy: 0.7383
Epoch 44/100
804/804 [==============================] - 0s 396us/step - loss: 0.5435 - accuracy: 0.7387
Epoch 45/100
804/804 [==============================] - 0s 398us/step - loss: 0.5434 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 0s 398us/step - loss: 0.5433 - accuracy: 0.7382
Epoch 47/100
804/804 [==============================] - 0s 404us/step - loss: 0.5428 - accuracy: 0.7389
Epoch 48/100
804/804 [==============================] - 0s 399us/step - loss: 0.5430 - accuracy: 0.7386
Epoch 49/100
804/804 [==============================] - 0s 400us/step - loss: 0.5427 - accuracy: 0.7384
Epoch 50/100
804/804 [==============================] - 0s 400us/step - loss: 0.5424 - accuracy: 0.7393
Epoch 51/100
804/804 [==============================] - 0s 400us/step - loss: 0.5426 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 0s 398us/step - loss: 0.5424 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 0s 401us/step - loss: 0.5426 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 0s 400us/step - loss: 0.5422 - accuracy: 0.7383
Epoch 55/100
804/804 [==============================] - 0s 400us/step - loss: 0.5420 - accuracy: 0.7385
Epoch 56/100
804/804 [==============================] - 0s 401us/step - loss: 0.5423 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 0s 418us/step - loss: 0.5418 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 0s 482us/step - loss: 0.5419 - accuracy: 0.7393
Epoch 59/100
804/804 [==============================] - 0s 400us/step - loss: 0.5417 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 0s 399us/step - loss: 0.5419 - accuracy: 0.7387
Epoch 61/100
804/804 [==============================] - 0s 399us/step - loss: 0.5421 - accuracy: 0.7397
Epoch 62/100
804/804 [==============================] - 0s 399us/step - loss: 0.5415 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 0s 395us/step - loss: 0.5418 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 0s 406us/step - loss: 0.5414 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 0s 398us/step - loss: 0.5414 - accuracy: 0.7387
Epoch 66/100
804/804 [==============================] - 0s 402us/step - loss: 0.5414 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 0s 401us/step - loss: 0.5405 - accuracy: 0.7396
Epoch 68/100
804/804 [==============================] - 0s 402us/step - loss: 0.5412 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 0s 394us/step - loss: 0.5413 - accuracy: 0.7398
Epoch 70/100
804/804 [==============================] - 0s 393us/step - loss: 0.5412 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 0s 395us/step - loss: 0.5410 - accuracy: 0.7400
Epoch 72/100
804/804 [==============================] - 0s 393us/step - loss: 0.5408 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 0s 393us/step - loss: 0.5412 - accuracy: 0.7400
Epoch 74/100
804/804 [==============================] - 0s 393us/step - loss: 0.5407 - accuracy: 0.7399
Epoch 75/100
804/804 [==============================] - 0s 392us/step - loss: 0.5411 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 0s 393us/step - loss: 0.5408 - accuracy: 0.7403
Epoch 77/100
804/804 [==============================] - 0s 392us/step - loss: 0.5407 - accuracy: 0.7399
Epoch 78/100
804/804 [==============================] - 0s 393us/step - loss: 0.5408 - accuracy: 0.7394
Epoch 79/100
804/804 [==============================] - 0s 395us/step - loss: 0.5406 - accuracy: 0.7398
Epoch 80/100
804/804 [==============================] - 0s 389us/step - loss: 0.5412 - accuracy: 0.7400
Epoch 81/100
804/804 [==============================] - 0s 394us/step - loss: 0.5407 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 0s 393us/step - loss: 0.5404 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 0s 395us/step - loss: 0.5405 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 0s 397us/step - loss: 0.5406 - accuracy: 0.7403
Epoch 85/100
804/804 [==============================] - 0s 392us/step - loss: 0.5400 - accuracy: 0.7395
Epoch 86/100
804/804 [==============================] - 0s 395us/step - loss: 0.5402 - accuracy: 0.7403
Epoch 87/100
804/804 [==============================] - 0s 400us/step - loss: 0.5402 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 0s 391us/step - loss: 0.5401 - accuracy: 0.7407
Epoch 89/100
804/804 [==============================] - 0s 393us/step - loss: 0.5399 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 0s 394us/step - loss: 0.5401 - accuracy: 0.7400
Epoch 91/100
804/804 [==============================] - 0s 398us/step - loss: 0.5397 - accuracy: 0.7403
Epoch 92/100
804/804 [==============================] - 0s 392us/step - loss: 0.5403 - accuracy: 0.7398
Epoch 93/100
804/804 [==============================] - 0s 395us/step - loss: 0.5400 - accuracy: 0.7396
Epoch 94/100
804/804 [==============================] - 0s 392us/step - loss: 0.5399 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 0s 391us/step - loss: 0.5400 - accuracy: 0.7403
Epoch 96/100
804/804 [==============================] - 0s 392us/step - loss: 0.5393 - accuracy: 0.7405
Epoch 97/100
804/804 [==============================] - 0s 393us/step - loss: 0.5396 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 0s 391us/step - loss: 0.5396 - accuracy: 0.7397
Epoch 99/100
804/804 [==============================] - 0s 393us/step - loss: 0.5398 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 0s 396us/step - loss: 0.5393 - accuracy: 0.7411

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5603 - accuracy: 0.7251 - 140ms/epoch - 523us/step
Loss: 0.5603480339050293, Accuracy: 0.7251312136650085

In [44]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")

In [45]:
# test push